/* COLORS */
$main-color: #f0c52e;
$main-light-color: #f7e296;
$secondary-color: #ad9f69;
$dark-color: #000000;
$light-color: #ffffff;
$text-color: #464646;


/* FONTS */

$main-font: "Open Sans", "Arial", "Helvetica", sans-serif;
$headers-font: "Gilroy Bold", "Arial", "Helvetica", sans-serif;

$main-light-font: "Open Sans Light", "Arial", "Helvetica", sans-serif;
$headers-light-font: "Gilroy Light", "Arial", "Helvetica", sans-serif;

$base-font-size: 16px;