section.company-section
    .container
        section.about-us
                h2.about-us__title.section-title О нас
                p Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.
                p Мы можем доставить ваш товар в самые отдаленные точки России! DEVICE работает со многими транспортными компаниями:

                ul.about-us__advantages
                    li Деловые Линии
                    li Автотрейдинг
                    li ЖелДорЭкспедиция

                a.about-us__btn.section-btn(href="#") Подробнее о нас

        
        section.contacts
                h2.contacts__title.section-title Контакты
                p Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете проверить работоспособность покупки. Всякое бывает.
                .contacts__map
                    img(src="https://dummyimage.com/560x222/c4c4c4/707070.jpg&text=%D0%9A%D0%B0%D1%80%D1%82%D0%B0" alt="Карта проезда")

                a.contacts__btn.section-btn(href="#") Напишите нам