.company {
    margin-top: 90px;
    // min-height: 500px;

    &__wrap {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    &__about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 560px;
        margin-right: 40px;

        p {
            width: 475px;
            margin-bottom: 30px;
        }

        & .device-btn {
            padding-left: 22px;
            padding-right: 22px;
        }
    }

    &__about-list {
        margin: 0;
        margin-top: 5px;
        margin-bottom: 53px;
        padding: 0;
        list-style: none;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-bottom: -10px;
        }
    }

    &__about-list-item {
        position: relative;
        padding-left: 35px;
        font-family: $headers-font;
        font-size: 16px;
        line-height: 40px;
        
        
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 8px;
            height: 8px;
            border: 2px solid lighten($dark-color, 80%);
            border-radius: 50%;
            transform: translateY(-50%);
        }
    }

    &__about-btn,
    &__contacts-btn {
        // margin-top: auto;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-top: 71px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: space-between;
        width: 560px;
        min-height: 580px;

        & .device-btn {
            padding-left: 40px;
            padding-right: 39px;
        }
    }

    &__contacts-map {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 65px;
    }


    &__contacts-map-btn {
        display: block;
        text-decoration: none;
    }

    &__title {
        position: relative;
        margin: 0;
        margin-bottom: 40px;
        padding-top: 52px;
        font-family: $headers-font;
        font-size: 47px;
        line-height: 48px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 8px;
            background-color: $dark-color;
        }
    }

    & p {
        
        margin: 0;
        margin-bottom: 32px;
        font-size: 15px;
        line-height: 30px;
        color: $text-color;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            width: 500px;
        }
    }
}