section.company
    h2.visually-hidden О компании
    .container
        div.company__wrap
            div.company__about
                    h2.company__title О нас
                    p Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.
                    p Мы можем доставить ваш товар в самые отдаленные точки России! DEVICE работает со многими транспортными компаниями:

                    ul.company__about-list
                        li.company__about-list-item Деловые Линии
                        li.company__about-list-item Автотрейдинг
                        li.company__about-list-item ЖелДорЭкспедиция
                    a.company__about-btn.device-btn(href="#") Подробнее о нас

            div.company__contacts
                    h2.company__title Контакты
                    p Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете проверить работоспособность покупки. Всякое бывает.
                    div.company__contacts-map
                        iframe(src='https://yandex.com/map-widget/v1/?um=constructor%3A8f7a60e72f65cf1ce95a32ee0966d5aeedbce068c0639b28f73ad40d54e1eda3&source=constructor', width='100%', height='240', frameborder='0')
                    button.company__contacts-btn.device-btn(href="#") Напишите нам