section.company
    h2.visually-hidden О компании
    .container
        div.company__wrap
            div.company__about
                    h2.company__title О нас
                    p Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.
                    p Мы можем доставить ваш товар в самые отдаленные точки России! DEVICE работает со многими транспортными компаниями:

                    ul.company__about-list
                        li.company__about-list-item Деловые Линии
                        li.company__about-list-item Автотрейдинг
                        li.company__about-list-item ЖелДорЭкспедиция
                    a.company__about-btn.device-btn(href="about-us.html" target="_blank") Подробнее о нас

            div.company__contacts
                    h2.company__title Контакты
                    p Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете проверить работоспособность покупки. Всякое бывает.
                    div.company__contacts-map
                        a.company__contacts-map-btn(href="")
                            picture
                                img(src="img/hp-map.jpg" alt="Карта проезда" width="560" height="222")
                    a(href="white-us.html" target="_blank").company__contacts-btn.device-btn Напишите нам