section.company-section
    .container
        section.company-section__about
                h2 О нас
                p Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.
                p Мы можем доставить ваш товар в самые отдаленные точки России! DEVICE работает со многими транспортными компаниями:

                ul
                    li Деловые Линии
                    li Автотрейдинг
                    li ЖелДорЭкспедиция

                a(href="#") Подробнее о нас

        
        section.company-section__contacts
                h2 Контакты
                p Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете проверить работоспособность покупки. Всякое бывает.
                div
                    img(src="https://dummyimage.com/560x222/c4c4c4/707070.jpg&text=%D0%9A%D0%B0%D1%80%D1%82%D0%B0" alt="Карта проезда")

                a(href="#") Напишите нам