.header {
    margin-top: 40px;
    color: $dark-color;
    
    a {
        color: $dark-color;
        text-decoration: none;
        transition: 0.2s;

        &:hover {
            opacity: 0.6;
        }
    
        &:active {
            opacity: 0.3;
        }
    }

    &__wrap {
        position: relative;
        min-height: 300px;
        padding-left: 60px;
        padding-right: 60px;
        background-color: rgba($main-color, 0.5);
    }

    &.header-inner &__wrap {
        min-height: 186px;
    }

    &.header-inner &__secondary-menu-user-info {
        display: block;
    }

    &.header-inner &__secondary-menu-user-login {
        display: none;
    }



    &__logo {
        position: absolute;
        top: -19px;
        left: 60px;

        a {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
            }
        }
    }
    
    &__secondary-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-top: 33px;
        font-size: 15px;
        list-style: none;

        & li:not(:first-child):not(:last-child) {
            margin-right: 40px;
        }
    }



    &__secondary-menu-search {
        flex-basis: 440px;
        width: 440px;
        margin-right: 100px;

        form {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }

        &-input {
            width: 100%;
            height: 100%;
            padding: 14px 14px 14px 36px;
            font-size: 15px;
            background: transparent url("../img/icon-search.svg") no-repeat;
            background-position: 3px 18px;
            border: 0;
            border-bottom: 2px solid transparent;
            transition: 0.2s;

            &:focus {
                border-bottom: 2px solid $dark-color;
                outline: 0;
            }

            &::placeholder {
                color: rgba($dark-color, 0.3);
                transition: color 0.2s;
                will-change: color;
            }

            &:focus::placeholder {
                color: $dark-color;
            }

            &:hover::placeholder {
                color: rgba($dark-color, 0.6);
            }
        }

        &-btn {
            padding: 14px 17px;
            font-size: 15px;
            color: $dark-color;
            border: 2px solid $dark-color;
            background-color: transparent;
            transition: 0.1s;
            visibility: hidden;
            cursor: pointer;


            &:hover {
                background-color: $dark-color;
                color: $light-color;
            }

            &:active {
                color: rgba($light-color, 0.5);
            }
        }
    }


    &__secondary-menu-user {
            
        &-login {
            
            span {
                margin-left: 14px;
            }
        }

        &-info {
            display: none;

            &-name {
                margin-left: 14px;
            }

            &-logout {
                margin-left: 13px;
                padding: 0;
                color: rgba($dark-color, 0.3);
                border: 0;
                font-size: 15px;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }


    &__secondary-menu-compare {
        margin-left: auto;

        span {
            margin-left: 5px;
        }
    }


    &__secondary-menu-cart {
        margin-right: -2px;

        span {
            margin-left: 5px;
        }
    }



    
    &__main-menu {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        list-style: none;
    }


    &__main-menu-item {
        height: 60px;
        font-family: $headers-font;
        font-size: 18px;
        letter-spacing: 3.6px;
        text-transform: uppercase;

        & ul {
            list-style: none;
        }

        &:not(:first-child):not(:last-child) {
            margin-right: 35px;
        }

        &:first-child {
            position: relative;
            width: 540px;

            &:hover .header__submenu {
                display: flex;
                flex-wrap: wrap;
                opacity: 1;
            }
        }

        &:last-child {
            position: relative;
            right: -5px;
            margin-left: auto;
        }

        &--dropdown {
            position: relative;
            margin-right: auto;
            padding-right: 28px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 16px;
                height: 2px;
                background-color: $secondary-color;
                transform: translateY(-50%) rotate(90deg);
                transition: 0.3s;
            }

            &::after {
                transform: translateY(-50%) rotate(0);
            }

            &:hover .header__main-menu-submenu {
                display: flex;
                flex-wrap: wrap;
                opacity: 1;
            }


            &:hover::before {
                transform: translateY(-50%) rotate(45deg);
            }

            &:hover::after {
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }


    &__submenu {
        position: absolute;
        top: 50px;
        right: -60px;
        left: -60px;
        z-index: 1000;

        display: none;
        flex-direction: row;
        width: 1160px;
        padding: 0;
        padding-right: 60px;
        padding-left: 60px;
        padding-bottom: 30px;
        
        font-family: $main-light-font;
        font-size: 15px;
        text-transform: initial;
        letter-spacing: 0;
        background-color: $main-light-color;
        opacity: 0;
        transition: 0.3s;

        &--active {
            display: flex;
            flex-wrap: wrap;
            opacity: 1;
        }

        &-block:not(:nth-child(5n)) {
            margin-right: 60px;

            ul {
                padding: 0;
            }
        }

        &-item {
            margin-bottom: 20px;
            text-transform: none;
        }
    }
}