section
        // Тут будет класс .container
        header
            div
                // Заголовок будет скрыт
                h1 Device
                img(src="https://dummyimage.com/163x35" alt="Device Logo" width="163" height="35")
            
            ul
                li
                    form(action="" method="")
                        input(type="text" name="search" placeholder="Поиск по сайту")
                        input(type="submit" value="Найти")
                
                li
                    button(type="button") Войти
                    div Валентин Петухов
                    button(type="button") Выйти

                li
                    a(href="#") Сравнить

                li
                    a(href="#") Корзина
                

            ul
                li
                    button(type="button") Каталог товаров
                    ul
                        - var submenuItems = ['Виртуальная реальность', 'Фитнес-браслеты', 'Квадрокоптеры', 'Моноподы для селфи', 'Умные часы', 'Экшн-камеры'];

                        each item, index in submenuItems
                            li
                                a(href="#")= item

                li
                    a(href="#") Доставка
                    
                li
                    a(href="#") Гарантия

                li
                    a(href="#") Контакты