.products-category {
    margin-top: 102px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        list-style: none;
    }

    &__list-item {
        width: 160px;

        &:not(:nth-child(6n)) {
            margin-right: 40px;
        }
    }

    &__list-link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: $dark-color;
        text-decoration: none;
    }

    &__list-image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 160px;
        margin-bottom: 34px;
        background-color: rgba($main-color, 0.5);
        transition: background-color 0.2s;

        
        &:hover {
            background-color: $main-color;
        }

        &:active {
            transition: opacity 0.2s;
            
            img {
                opacity: 0.3;
            }
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        &--align-end {
            align-items: flex-end;

            img {
                top: auto;
                bottom: 0;
                transform: translate(-50%, 0);
            }
        }
    }

    &__list-title {
        display: table-cell;
        margin-top: 0;
        font-family: $headers-font;
        font-size: 18px;
        line-height: 23px;
        word-break: break-word;
        word-wrap: break-word;
    }
}