section.products-category-section
    .container
        ul.products-category
            li.products-category__item
                a.products-category__link(href="#")
                    picture.products-category__image
                        img(src="img/product-cat-1.svg" alt="Виртуальная реальность")
                    h4.products-category__title Виртуальная реальность

            li.products-category__item
                a.products-category__link(href="#")
                    picture.products-category__image
                        img(src="img/product-cat-2.svg" alt="Моноподыдля селфи")
                    h4.products-category__title Моноподыдля селфи

            li.products-category__item
                a.products-category__link(href="#")
                    picture.products-category__image
                        img(src="img/product-cat-3.svg" alt="Экшн-камеры")
                    h4.products-category__title Экшн-камеры

            li.products-category__item
                a.products-category__link(href="#")
                    picture.products-category__image
                        img(src="img/product-cat-4.svg" alt="Фитнес-браслеты")
                    h4.products-category__title Фитнес-браслеты

            li.products-category__item
                a.products-category__link(href="#")
                    picture.products-category__image
                        img(src="img/product-cat-5.svg" alt="Умные часы")
                    h4.products-category__title Умные часы
                    
            li.products-category__item
                a.products-category__link(href="#")
                    picture.products-category__image
                        img(src="img/product-cat-6.svg" alt="Квадрокоптеры")
                    h4.products-category__title Квадрокоптеры
