section.products-category
    h2.visually-hidden Категория товаров
    .container
        ul.products-category__list
            li.products-category__list-item
                a.products-category__list-link(href="catalog.html")
                    picture.products-category__list-image
                        img(src="img/product-cat-1.svg" alt="Виртуальная реальность" width="97" height="55")
                    h4.products-category__list-title Виртуальная реальность

            li.products-category__list-item
                a.products-category__list-link(href="catalog.html")
                    picture.products-category__list-image.products-category__list-image--align-end
                        img(src="img/product-cat-2.svg" alt="Моноподыдля селфи" width="86" height="117")
                    h4.products-category__list-title Моноподы
                        br
                        | для селфи

            li.products-category__list-item
                a.products-category__list-link(href="catalog.html")
                    picture.products-category__list-image
                        img(src="img/product-cat-3.svg" alt="Экшн-камеры" width="71" height="87")
                    h4.products-category__list-title Экшн-камеры

            li.products-category__list-item
                a.products-category__list-link(href="catalog.html")
                    picture.products-category__list-image
                        img(src="img/product-cat-4.svg" alt="Фитнес-браслеты" width="107" height="65")
                    h4.products-category__list-title Фитнес-браслеты

            li.products-category__list-item
                a.products-category__list-link(href="catalog.html")
                    picture.products-category__list-image
                        img(src="img/product-cat-5.svg" alt="Умные часы" width="56" height="98")
                    h4.products-category__list-title Умные часы
                    
            li.products-category__list-item
                a.products-category__list-link(href="catalog.html")
                    picture.products-category__list-image
                        img(src="img/product-cat-6.svg" alt="Квадрокоптеры" width="132" height="69")
                    h4.products-category__list-title Квадрокоптеры
