section.products-category
    h2.visually-hidden Категория товаров
    .container
        ul.products-category__list
            li.products-category__list-item
                a.products-category__list-link(href="#")
                    picture.products-category__list-image
                        img(src="img/product-cat-1.svg" alt="Виртуальная реальность")
                    h4.products-category__list-title Виртуальная реальность

            li.products-category__list-item
                a.products-category__list-link(href="#")
                    picture.products-category__list-image.products-category__list-image--align-end
                        img(src="img/product-cat-2.svg" alt="Моноподыдля селфи")
                    h4.products-category__list-title Моноподы
                        br
                        | для селфи

            li.products-category__list-item
                a.products-category__list-link(href="#")
                    picture.products-category__list-image
                        img(src="img/product-cat-3.svg" alt="Экшн-камеры")
                    h4.products-category__list-title Экшн-камеры

            li.products-category__list-item
                a.products-category__list-link(href="#")
                    picture.products-category__list-image
                        img(src="img/product-cat-4.svg" alt="Фитнес-браслеты")
                    h4.products-category__list-title Фитнес-браслеты

            li.products-category__list-item
                a.products-category__list-link(href="#")
                    picture.products-category__list-image
                        img(src="img/product-cat-5.svg" alt="Умные часы")
                    h4.products-category__list-title Умные часы
                    
            li.products-category__list-item
                a.products-category__list-link(href="#")
                    picture.products-category__list-image
                        img(src="img/product-cat-6.svg" alt="Квадрокоптеры")
                    h4.products-category__list-title Квадрокоптеры
