.partners {
    margin-top: 63px;
    
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {}

    &__image {
        filter: grayscale(1);
        opacity: 0.4;
        transition: 0.2s;

        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}