section.partners-logos-section
    .container
        .partners-logos
            .partners-logos__item
                picture.partners-logos__image
                    img(src="img/partner-logo-1.png" alt="Логотип партнера")

            .partners-logos__item
                picture.partners-logos__image
                    img(src="img/partner-logo-2.png" alt="Логотип партнера") 
            
            .partners-logos__item
                picture.partners-logos__image
                    img(src="img/partner-logo-3.png" alt="Логотип партнера") 
            
            .partners-logos__item
                picture.partners-logos__image
                    img(src="img/partner-logo-4.png" alt="Логотип партнера") 

