section.partners
    h2.visually-hidden Наши партнеры
    .container
        .partners__wrap
            .partners__item
                picture.partners__image
                    img(src="img/partner-logo-1.png" alt="Логотип партнера")

            .partners__item
                picture.partners__image
                    img(src="img/partner-logo-2.png" alt="Логотип партнера") 
            
            .partners__item
                picture.partners__image
                    img(src="img/partner-logo-3.png" alt="Логотип партнера") 
            
            .partners__item
                picture.partners__image
                    img(src="img/partner-logo-4.png" alt="Логотип партнера") 

