.page-header {

    &__wrap {
        padding-left: 61px;
    }

    &__title {
        padding: 0;
        margin: 0;
        margin-bottom: 25px;
        margin-top: 35px;
        font-family: $headers-font;
        font-size: 47px;
        line-height: 48px;
        letter-spacing: 0.5px;
    }

    &__breadcrumbs {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__breadcrumbs-item {
        position: relative;
        margin-right: 35px;
        font-size: 14px;
        line-height: 24px;
        color: rgba($dark-color, 0.3);

        a {
            position: relative;
            color: rgba($dark-color, 0.3);
            text-decoration: none;
            transition: 0.2s;

            &::after {
                content: "";
                position: absolute;
                top: 7px;
                right: -35px;
                width: 7px;
                height: 7px;
                margin-right: 16px;
                margin-left: 10px;
                border-top: 2px solid $dark-color;
                border-right: 2px solid $dark-color;
                transform: rotate(45deg) scale(0.8);
            }

            &:hover {
                color: rgba($dark-color, 0.6);
            }

            &:active {
                color: rgba($dark-color, 0.1);
            }
        }

        
    }
}