div.page-header
    div.container
        div.page-header__title
            h2 Моноподы для селфи
        ul.page-header__breadcrumbs
            li.page-header__breadcrumbs-item
                a(href="#") Главная
            li.page-header__breadcrumbs-item
                a(href="#") Каталог товаров
            li.page-header__breadcrumbs-item.page-header__breadcrumbs-item--last
                | Моноподы для селфи