section.category-header-section
    .container
        .category-header
            h2.category-header__title Моноподы для селфи
            ul.category-header__breadcrumbs.breadcrumbs
                li.breadcrumbs__item
                    a(href="#") Главная
                li.breadcrumbs__item
                    a(href="#") Каталог товаров
                li.breadcrumbs__item.breadcrumbs__item--last
                    | Моноподы для селфи