section
    h2 Моноподы для селфи
    div
        ul
            li
                a(href="#") Главная
            li
                a(href="#") Каталог товаров
            li
                | Моноподы для селфи