extends layouts/default
include helpers/mixins

block variables
	- const title = "Проект Device"

block content
	//- Шапка сайта
	include ../blocks/modules/header/header.pug

	//- Секция о нас
	include ../blocks/modules/company/company.pug

	//- Футер сайта
	include ../blocks/modules/footer/footer.pug


block scripts
	script(src="../js/main.js")
	//- script(src="../js/vendor.js")