extends layouts/default
include helpers/mixins

block variables
	- const title = "Проект Device"
	- const innerHeader = false

block content
	//- Шапка сайта
	include ../blocks/modules/header/header.pug

	//- Секция о нас
	include ../blocks/modules/hp-slider/hp-slider.pug

	//- Секция о нас
	include ../blocks/modules/hp-product-category/hp-product-category.pug

	//- Секция о нас
	include ../blocks/modules/hp-conditions/hp-conditions.pug

	//- Секция о нас
	include ../blocks/modules/hp-partners/hp-partners.pug

	//- Секция о нас
	include ../blocks/modules/hp-company/hp-company.pug

	//- Футер сайта
	include ../blocks/modules/footer/footer.pug

	//- Всплывающее окно
	include ../blocks/modules/hp-cf-popup/hp-cf-popup.pug


block scripts
	script(src="../js/main.js")
	//- script(src="../js/vendor.js")