.conditions {
    position: relative;
    margin-top: 160px;
    background-color: #e5e5e5;

    $this: ".conditions";

    &__wrap {
        position: relative;
        top: -100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__tabs {
        flex-basis: 25%;
    }

    /* TABS BUTTONS */
    
    &__tabs-switch {
        margin: 0;
        padding: 0;
        padding-top: 80px;
        padding-bottom: 80px;
        border-right: 7px solid $dark-color;
        list-style: none;
    }

    &__tabs-switch-item {

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        &--active {
            background-color: $dark-color;

            #{$this}__tabs-switch-btn {
                color: $main-light-color;

                &::after {
                    background-color: transparent;
                }

                &:active {
                    color: $main-color;
                }
            }
        }
    }

    &__tabs-switch-btn {
        position: relative;
        z-index: 1;
        min-width: 160px;
        padding: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: $headers-font;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 3px;
        border: 0;
        background-color: transparent;
        text-transform: uppercase;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            z-index: -1;
            height: 8px;
            background-color: $main-color;
            transform: translateY(-50%);
            transition: height 0.2s;
            will-change: height;
        }
    
        &:hover::after {
            height: 100%;
        }
    
        &:active {
            color: rgba($dark-color, 0.3);
        }
    }


    /* TABS CONTENT */ 
    
    &__tabs-content {
        flex-basis: 75%;
    }

    &__tabs-content-list {
        margin: 0;
        margin-left: 100px;
        padding: 0;
        list-style: none;
    }

    &__tabs-content-list-item {
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &--active {
            display: flex;
        }

    }

    &__tabs-content-text {
        flex-basis: 65%;

        h3 {
            margin: 0;
            margin-bottom: 43px;
            font-family: $headers-font;
            font-size: 47px;
            line-height: 48px;
        }

        p {
            margin: 0;
            font-size: 15px;
            line-height: 30px;
        }
    }

    &__tabs-content-image {
        flex-basis: 35%;
        text-align: center;
    }
}