section.conditions
    h2.visually-hidden Доставка. Гарантия. Кредит. 
    .container
        .conditions__tabs
            ul.conditions__tabs-list
                li.conditions__tabs-list-item
                    button.conditions__tabs-list-btn.device-btn(type="button") Доставка

                li.conditions__tabs-list-item
                    button.conditions__tabs-list-btn.device-btn(type="button") Гарантия

                li.conditions__tabs-list-item
                    button.conditions__tabs-list-btn.device-btn(type="button") Кредит

        .conditions__tabs-content
            ul.conditions__tabs-content-list
                li.conditions__tabs-content-list-item
                    .conditions__tabs-content-text
                        h3 Доставка
                        p Мы с удовольствием доставим ваш товар прямо к вашему подъезду совершенно бесплатно! Ведь мы неплохо заработаем, поднимая его на ваш этаж.
                    pisture.conditions__tabs-content-image
                        img(src="img/conditions-delivery.svg" alt="Доставка")

                li.conditions__tabs-content-list-item
                    .conditions__tabs-content-text
                        h3 Гарантия
                        p Если из-за возгорания купленного у нас товара у вас сгорит дом — не переживайте, мы выдадим вам новый. Товар, не дом, конечно же.
                    pisture.conditions__tabs-content-image
                        img(src="img/conditions-warranty.svg" alt="Гарантия")

                li.conditions__tabs-content-list-item
                    .conditions__tabs-content-text
                        h3 Кредит
                        p Залезть в долговую яму стало проще! Кредитные консультанты подберут для вас наиболее выгодные условия кредита. Выгодные для нашего банка, разумеется.
                    pisture.conditions__tabs-content-image
                        img(src="img/conditions-credit.svg" alt="Кредит")
                

