main.catalog
    div.container
        section.catalog__sidebar
            h2.visually-hidden Фильт по товарам
            div.catalog__filter
                div.catalog__filter-title
                    h3 Фильтр:
                div.catalog__filter-form
                    form(action="" method="GET")
                        fieldset.catalog__filter-item
                            legeng.catalog__filter-item-title Стоимость
                            div.catalog__filter-item
                                input(type="text" value="0")
                                input(type="text" value="3000")
                        fieldset.catalog__filter-item
                            legend.catalog__filter-item-title Цвет
                            ul
                                li.catalog__filter-item-group
                                    input(type="checkbox" name="product-color" id="black" value="black") 
                                    label(for="black") Черный
                                li.catalog__filter-item-group
                                    input(type="checkbox" name="product-color" id="white" value="white") 
                                    label(for="white") Белый
                                li.catalog__filter-item-group
                                    input(type="checkbox" name="product-color" id="blue" value="blue") 
                                    label(for="blue") Синий
                                li.catalog__filter-item-group
                                    input(type="checkbox" name="product-color" id="red" value="red") 
                                    label(for="red") Красный
                                li.catalog__filter-item-group
                                    input(type="checkbox" name="product-color" id="pink" value="pink") 
                                    label(for="pink") Розовый

                        fieldset.catalog__filter-item
                            legend.catalog__filter-item-title Bluetooth
                            ul
                                li.catalog__filter-item-group
                                    input(type="radio" name="bluetooth" id="yes" value="yes")
                                    label(for="yes") Есть
                                li.catalog__filter-item-group
                                    input(type="radio" name="bluetooth" id="no" value="no")
                                    label(for="no") Нет

                        div.catalog__filter-item.device-btn
                            input(type="submit" value="Показать")
        
        section.catalog__content
            h2.visually-hidden Каталог товаров
            div.catalog__sort
                h3 Сортировка:
                ul.catalog__sort-nav
                    li.catalog__sort-nav-item.catalog__sort-nav-item--price
                        button(type="button") По цене
                    li.catalog__sort-nav-item.catalog__sort-nav-item--type
                        button(type="button") По типу
                    li.catalog__sort-nav-item.catalog__sort-nav-item--popular
                        button(type="button") По популярности

                .catalog__sort-arrow
                    button.catalog__sort-arrow-up(type="button" aria-label="Сортировка по возрастанию")
                        svg(xmlns='http://www.w3.org/2000/svg', width='11', height='10', viewBox='0 0 11 10')
                            path(d='M5.5 0L0 10h11z')

                    button.catalog__sort-arrow-down(type="button" aria-label="Сортировка по убыванию")
                        svg(xmlns='http://www.w3.org/2000/svg', width='11', height='10', viewBox='0 0 11 10')
                            path(d='M5.5 10L0 0h11')

            - var productItems = ['Любительская селфи-палка', 'Профессиональная селфи-палка', 'Непотопляемая селфи-палка', 'Селфи-палка «Следуй за мной»'];
            - var productPrice = ['500 руб.', '1500 руб.', '2500 руб.', '4900 руб.'];
            
            div.catalog__products
                each product, index in productItems
                    article.catalog__products-item
                        a.catalog__products-item-link(href="")
                            picture.catalog__products-image
                                img(src="img/product-item-" + (index + 1) + ".jpg"  alt="Изображение товара")
                            h3.catalog__products-name= productItems[index]
                            span.catalog__products-price= productPrice[index]
                            div.catalog__products-overlay
                                button.catalog__products-overlay-cart-btn.device-btn(type="button") В корзину
                                button.catalog__products-overlay-compare-btn(type="button") Добавить к сравнению

                div.catalog__products-pagination
                    a.catalog__products-pagination-back(href="#") Назад
                    ul.catalog__products-pagination-numbers
                        li
                            a(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3
                    a.catalog__products-pagination-next(href="#") Вперед
                        

