main.catalog
    div.container
        div.catalog__wrap
            aside.catalog-sidebar
                h2.visually-hidden Фильт по товарам
                div.catalog-sidebar__filter
                    div.catalog-sidebar__filter-title
                        h3 Фильтр:
                    div.catalog-sidebar__filter-form
                        form(action="https://echo.htmlacademy.ru/" method="GET")
                            fieldset.catalog-sidebar__filter-item
                                legend.catalog-sidebar__filter-item-title Стоимость
                                div.catalog-sidebar__filter-item-range
                                    div.catalog-sidebar__filter-item-range-controls
                                        div.catalog-sidebar__filter-item-range-bar
                                            div.catalog-sidebar__filter-item-range-active
                                        div.catalog-sidebar__filter-item-range-min
                                        div.catalog-sidebar__filter-item-range-max
                                    label.catalog-sidebar__filter-item-range-label(for="range-min-value") от
                                    input.catalog-sidebar__filter-item-range-value(type="text" id="range-min-value" value="0")
                                    
                                    label.catalog-sidebar__filter-item-range-label(for="range-max-value") до
                                    input.catalog-sidebar__filter-item-range-value(type="text" id="range-max-value" value="5000")
                            fieldset.catalog-sidebar__filter-item
                                legend.catalog-sidebar__filter-item-title Цвет
                                ul
                                    li.catalog-sidebar__filter-item-group
                                        input(type="checkbox" name="product-color" id="black" value="black") 
                                        label.catalog-sidebar__filter-label-checkbox(for="black") Черный
                                    li.catalog-sidebar__filter-item-group
                                        input(type="checkbox" name="product-color" id="white" value="white") 
                                        label.catalog-sidebar__filter-label-checkbox(for="white") Белый
                                    li.catalog-sidebar__filter-item-group
                                        input(type="checkbox" name="product-color" id="blue" value="blue") 
                                        label.catalog-sidebar__filter-label-checkbox(for="blue") Синий
                                    li.catalog-sidebar__filter-item-group
                                        input(type="checkbox" name="product-color" id="red" value="red") 
                                        label.catalog-sidebar__filter-label-checkbox(for="red") Красный
                                    li.catalog-sidebar__filter-item-group
                                        input(type="checkbox" name="product-color" id="pink" value="pink") 
                                        label.catalog-sidebar__filter-label-checkbox(for="pink") Розовый

                            fieldset.catalog-sidebar__filter-item
                                legend.catalog-sidebar__filter-item-title Bluetooth
                                ul
                                    li.catalog-sidebar__filter-item-group
                                        input(type="radio" name="bluetooth" id="yes" value="yes")
                                        label.catalog-sidebar__filter-label-radio(for="yes") Есть
                                    li.catalog-sidebar__filter-item-group
                                        input(type="radio" name="bluetooth" id="no" value="no")
                                        label.catalog-sidebar__filter-label-radio(for="no") Нет
                            button.catalog-sidebar__filter-submit.device-btn(type="submit" aria-label="Применить фильтр") Показать

            section.catalog-content
                h2.visually-hidden Каталог товаров
                div.catalog-content__sort
                    div.catalog-content__sort-title
                        h3 Сортировка:
                    ul.catalog-content__sort-nav
                        li.catalog-content__sort-nav-item.catalog-content__sort-nav-item--price.catalog-content__sort-nav-item--active
                            button(type="button") По цене
                        li.catalog-content__sort-nav-item.catalog-content__sort-nav-item--type
                            button(type="button") По типу
                        li.catalog-content__sort-nav-item.catalog-content__sort-nav-item--popular
                            button(type="button") По популярности

                    .catalog-content__sort-arrow
                        button.catalog-content__sort-arrow-up(type="button" aria-label="Сортировка по возрастанию")
                            svg(xmlns='http://www.w3.org/2000/svg', width='11', height='10', viewBox='0 0 11 10')
                                path(d='M5.5 0L0 10h11z')

                        button.catalog-content__sort-arrow-down(type="button" aria-label="Сортировка по убыванию")
                            svg(xmlns='http://www.w3.org/2000/svg', width='11', height='10', viewBox='0 0 11 10')
                                path(d='M5.5 10L0 0h11')

                - var productItems = ['Любительская селфи-палка', 'Профессиональная селфи-палка', 'Непотопляемая селфи-палка', 'Селфи-палка «Следуй за мной»'];
                - var productPrice = ['500 руб.', '1500 руб.', '2500 руб.', '4900 руб.'];
                
                div.catalog-content__products
                    each product, index in productItems
                        article.catalog-content__products-item
                            a.catalog-content__products-link(href="")
                                picture.catalog-content__products-image
                                    img(src="img/product-item-" + (index + 1) + ".jpg"  alt="Изображение товара")
                                    div.catalog-content__products-overlay
                                        button.catalog-content__products-overlay-cart.device-btn(type="button") В корзину
                                        button.catalog-content__products-overlay-compare(type="button") Добавить к сравнению
                                div.catalog-content__products-info
                                    h3.catalog-content__products-name= productItems[index]
                                    span.catalog-content__products-price= productPrice[index]

                    div.catalog-content__products-pagination
                        a.catalog-content__products-pagination-back(href="#") Назад
                        ul.catalog-content__products-pagination-pages
                            li.catalog-content__products-pagination-pages-item.catalog-content__products-pagination-pages-item--active
                                a(href="#") 1
                            li.catalog-content__products-pagination-pages-item
                                a(href="#") 2
                            li.catalog-content__products-pagination-pages-item
                                a(href="#") 3
                        a.catalog-content__products-pagination-next(href="#") Вперед
                        

