.popup-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background-color: rgba($dark-color, 0.5);
}

.contact-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 100%;
    z-index: 9999;
    max-width: 960px;
    padding: 100px;
    background-color: $light-color;
    transform: translate(-50%, -50%);

    &--fill-error {
        animation-name: bounce;
        animation-duration: 0.5s;
    }

    &__wrap {

        form {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-right: -40px;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-right: 40px;

        label {
            margin-bottom: 10px;
            font-family: $headers-font;
            font-size: 18px;
            line-height: 24px;
        }

        input,
        textarea {
            border: 0;
            padding: 15px;
            font-size: 14px;
            color: $text-color;
            background-color: rgba($text-color, 0.09);

            &:focus {
                background-color: $light-color;
                color: $dark-color;
                outline: 2px solid $main-light-color;
            }
        }

        textarea {
            height: 160px;
            resize: vertical;
        }

        &--textarea {
            flex-basis: 100%;
        }

        &--submit {
            flex-grow: 0;
        }

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__submit-btn {
        flex-grow: 0;
    }
}


.map-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    display: none;
    width: 100%;
    max-width: 960px;
    height: 559px;
    background-color: $light-color;
    transform: translateX(-50%);

    &__wrap {
        width: 100%;
        height: 100%;
    }
}


.popup-close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 55px;
    height: 55px;
    border: 0;
    font-size: 0;
    border-radius: 50%;
    background-color: $main-light-color;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $main-color;
    }

    &:active {
        background-color: rgba($main-color, 0.5);
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 2px;
        background-color: $light-color;
        transition: 0.3s;
        transform-origin: center;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.popup-active {
    display: block;
    transform: translate(-50%, -50%);
    animation-name: popup-dropdown;
    animation-duration: 0.5s;
}
