div.popup-overlay.hidden

div.contact-popup
    .contact-popup__wrap
        form(action="https://echo.htmlacademy.ru/" method="post")
            .contact-popup__field
                label(for="contact-user-name") Ваше имя:
                input(type="text" name="contact-user-name" id="contact-user-name" placeholder="Имя Фамилия")
            .contact-popup__field
                label(for="contact-user-email") Ваш e-mail:
                input(type="email" name="contact-user-email" id="contact-user-email" placeholder="email@example.com")
            .contact-popup__field.contact-popup__field--textarea
                label(for="contact-user-text") Текст письма:
                textarea(name="contact-user-text" id="contact-user-text" placeholder="В свободной форме")
            .contact-popup__field.contact-popup__field--submit
                button.contact-popup__submit-btn.device-btn(type="submit") Отправить
    button.contact-popup__close-btn.popup-close-btn(type="button" aria-label="Закрыть окно") Закрыть

div.map-popup
    .map-popup__wrap
        iframe(src='https://yandex.com/map-widget/v1/?um=constructor%3A8f7a60e72f65cf1ce95a32ee0966d5aeedbce068c0639b28f73ad40d54e1eda3&source=constructor', width='960', height='559')
    button.map-popup__close-btn.popup-close-btn(type="button" aria-label="Закрыть окно") Закрыть
