.slider {
    margin-top: -112px;
    position: relative;
    z-index: 999;
    counter-reset: slider-number;

    $this: ".slider";

    &__wrap {
        position: relative;
    }

    &__item {
        position: relative;
        display: none;
        flex-direction: row;
        min-height: 490px;

        &--active {
            display: flex;
        }
    }

    &__image {
        flex-basis: 560px;
        text-align: center;
    }

    &__info {
        flex-basis: 560px;
        margin-top: 30px;
        margin-left: auto;
        // padding-right: 90px;
    }

    &__info-title {
        position: relative;
        z-index: 10;
        margin: 0;
        margin-bottom: 20px;
        padding-top: 50px;
        font-family: $headers-font;
        font-size: 48px;
        color: $dark-color;

        &::before {
            content: "";
            position: absolute;
            top: 7px;
            left: 0;
            width: 100px;
            height: 7px;
            background-color: $light-color;
        }
    }

    &__info-description {
        margin: 0;
        font-family: $main-light-font;
        font-size: 15px;
        line-height: 30px;
    }

    &__more-btn {
        margin-top: 53px;
    }

    &__product-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        margin-top: 60px;
        padding: 0;
        font-family: $headers-light-font;
        font-size: 36px;
        line-height: 48px;
        list-style: none;

        li:not(:last-child) {
            margin-right: 80px;
        }

        span {
            display: block;
            font-family: $main-light-font;
            font-size: 13px;
            line-height: 1.5;
            margin-top: 8px;
        }
    }

    &__bullets {
        position: absolute;
        top: 323px;
        right: 83px;
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;

        li:not(:last-child) {
            margin-right: 21px;
        }
    }

    &__bullets-btn {
        position: relative;
        width: 12px;
        height: 12px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: 1px solid $dark-color;
        border-radius: 50%;
        outline: none;
        cursor: pointer;

        

        &--active {

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                border: 1px solid $dark-color;
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0.85);

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    // IE10+ CSS here

                    top: 2px;
                    left: 2px;
                    transform: none;
                }
            }
        }
    }

    &__counter {
        position: absolute;
        top: -15px;
        right: 50px;
        font-family: $headers-font;
        font-size: 179px;
        color: $light-color;
        line-height: 1;

        // &::before {
        //     counter-increment: slider-number;
        //     content: "0" counter(slider-number);
        // }
    }


    @for $i from 1 through 3 {

        &__item:nth-child(#{$i}) &__counter::before {
            content: "0#{$i}";
        }
    }
}
    