section.slider-section
    .container
        section.slider
            article.slider__item
                picture.slider__image
                    img(src="img/slider-image-1.jpg" alt="Изображение товара")
                .slider__info
                    h2 Делай селфи, как Бен Стиллер!
                    p Самая длинная палка для селфи доступна в нашем магазине. Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.
                    .slider__more-btn
                        a.device-btn(href="#") Подробнее
                    ul.slider__product-info
                        li 8,5 м
                            span Длина палки
                        li 5 кг
                            span Вес палки
                        li Карбон
                            span Материал
                .slider__counter

            article.slider__item
                picture.slider__image
                    img(src="img/slider-image-2.jpg" alt="Изображение товара")
                .slider__info
                    h2 Худеем правильно!
                    p Мотивирующие фитнес-браслеты помогут найти в себе силы не пропускать занятия и соблюдать диету.
                    .slider__more-btn
                        a.device-btn(href="#") Подробнее
                    ul.slider__product-info
                        li 48 часов
                            span Без подзарядки
                .slider__counter

            article.slider__item
                picture.slider__image
                    img(src="img/slider-image-3.jpg" alt="Изображение товара")
                .slider__info
                    h2 Порхает как бабочка, жалит как пчела!
                    p Этот обычный, на первый взгляд, квадрокоптер оснащен мощным лазером, замаскированным под стандартную камеру.
                    .slider__more-btn
                        a.device-btn(href="#") Подробнее
                    ul.slider__product-info
                        li 800 м
                            span Дальность полета
                        li 50 м
                            span Радиус поражения
                .slider__counter

            ul.slider__bullets
                li
                li
                li


                

