section.slider
    .container
        div.slider__wrap
            div.slider__item
                picture.slider__image
                    img(src="img/slider-image-1.jpg" alt="Изображение товара")
                div.slider__info
                    h2.slider__info-title Делай селфи, как Бен Стиллер!
                    p Самая длинная палка для селфи доступна в нашем магазине. Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.
                    div.slider__more-btn
                        a.device-btn(href="#") Подробнее
                    ul.slider__product-info
                        li 8,5 м
                            span Длина палки
                        li 5 кг
                            span Вес палки
                        li Карбон
                            span Материал
                div.slider__counter

        div.slider__wrap
            div.slider__item
                picture.slider__image
                    img(src="img/slider-image-2.jpg" alt="Изображение товара")
                div.slider__info
                    h2.slider__info-title Худеем правильно!
                    p Мотивирующие фитнес-браслеты помогут найти в себе силы не пропускать занятия и соблюдать диету.
                    div.slider__more-btn
                        a.device-btn(href="#") Подробнее
                    ul.slider__product-info
                        li 48 часов
                            span Без подзарядки
                .slider__counter

        div.slider__wrap
            div.slider__item
                divpicture.slider__image
                    img(src="img/slider-image-3.jpg" alt="Изображение товара")
                div.slider__info
                    h2.slider__info-title Порхает как бабочка, жалит как пчела!
                    p Этот обычный, на первый взгляд, квадрокоптер оснащен мощным лазером, замаскированным под стандартную камеру.
                    div.slider__more-btn
                        a.device-btn(href="#") Подробнее
                    ul.slider__product-info
                        li 800 м
                            span Дальность полета
                        li 50 м
                            span Радиус поражения
                .slider__counter

        ul.slider__bullets
            li
                button.slider__bullets-btn(type="button") 
            li
                button.slider__bullets-btn(type="button") 
            li
                button.slider__bullets-btn(type="button") 


                

