.footer {
    margin-top: 75px;
    padding: 65px 0;
    background-color: $text-color;

    @media screen and (max-width: 1200px) {
        width: 1200px;
    }

    a {
        text-decoration: none;
    }

    &.footer-inner {
        margin-top: 0;
        padding: 65px 0;
    }
    

    // & a {
    //     color: $light-color;
    //     text-decoration: none;
    //     transition: 0.2s;

    //     &:hover {
    //         opacity: 0.6;
    //     }
    
    //     &:active {
    //         opacity: 0.3;
    //     }
    // }

    &__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        transition: 0.2s;

        svg {
            fill: $main-color;
        }

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__secondary-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        margin-top: -12px;
        padding: 0;
        list-style: none;
    }


    &__secondary-menu-item {
        margin-left: 33px;

        svg {
            position: absolute;
            fill: $main-color;
        }

        &:nth-child(1) svg {
            top: 5px;
            left: 2px;
        }

        &:nth-child(2) svg {
            top: 7px;
            left: 9px;
        }
        
        &:nth-child(3) svg {
            top: 5px;
            left: 8px;
        }
    }

    &__secondary-menu-link {
        position: relative;
        font-size: 15px;
        line-height: 36px;
        color: rgba($light-color, 0.7);
        text-decoration: none;
        transition: 0.2s;

        &:hover {
            color: $light-color;

            svg {
                opacity: 0.6;
            }
        }

        &:focus {
            opacity: 0.3;
        }

        span {
            padding-left: 28px;
        }

    }

    &__secondary-menu-login {
            
        span {
            margin-left: 14px;
        }
    }

    &__secondary-menu-user-info {
        display: none;
    }

    // &__secondary-menu-user-info-name {
    //     margin-left: 14px;
    // }

    &__secondary-menu-user-info-logout {
        margin-left: 13px;
        padding: 0;
        color: rgba($dark-color, 0.3);
        border: 0;
        background-color: transparent;
        font-size: 15px;
        cursor: pointer;
    }


    &__middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 28px;
        margin-bottom: 62px;
        // justify-content: space-between;
    }

    &__address {
        margin-right: 170px;
        font-size: 14px;
        font-style: normal;
        line-height: 30px;
        color: $light-color;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-right: 167px;
        }
    }

    &__main-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        margin-top: 5px;
        padding: 0;
        list-style: none;


        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-right: 186px;
        }
    }

    &__main-menu-item {
        font-family: $headers-font;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 3.6px;

        &:not(:last-child) {
            margin-right: 33px;
        }

        a {
            color: $light-color;

            &:hover {
                opacity: 0.6;
            }

            &:active {
                opacity: 0.3;
            }
        }
    }

    &__phone {
        margin-top: -1px;
        margin-left: auto;
        font-size: 15px;
        line-height: 30px;
        color: $light-color;

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }


    &__bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
    }

    &__line {
        margin-right: 429px;
        width: 80px;
        height: 7px;
        background-color: $main-color;
    }

    &__socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__socials-item {

        &:not(:last-child) {
            margin-right: 23px;
        }

        svg {
            fill: $light-color;
            opacity: 0.3;
            transition: 0.2s;
        }

        &:hover svg {
            opacity: 0.6;
        }

        &:active svg {
            opacity: 0.1;
        }
    }

    &__academy-logo {
        margin-left: auto;

        svg {
            fill: $main-color;
            transition: 0.2s;
        }

        &:hover svg {
            opacity: 0.6;
        }

        &:active svg {
            opacity: 0.3;
        }
    }
}


.footer-inner .footer__secondary-menu-user-info {
    display: block;
}

.footer-inner .footer__secondary-menu-user-info-logout {
    // display: block;
    color: rgba($light-color, 0.3);
    transition: 0.2s;

    &:hover {
        color: rgba($light-color, 0.7);
    }

    &:active {
        color: rgba($light-color, 0.2);
    }
}

.footer-inner .footer__secondary-menu-user-login {
    display: none;
}