.footer {
    margin-top: 65px;
    padding: 75px 140px;
    background-color: $text-color;

    &-inner {
        margin-top: 0;
        padding: 65px 140px;
    }

    & a {
        color: $light-color;
        text-decoration: none;
        transition: 0.2s;

        &:hover {
            opacity: 0.6;
        }
    
        &:active {
            opacity: 0.3;
        }
    }

    &__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {

        svg {
            fill: $main-color;
            transition: 0.2s;
        }

        &:hover svg {
            opacity: 0.6;
        }

        &:active svg {
            opacity: 0.3;
        }
    }

    &__secondary-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        margin-top: -12px;
        padding: 0;
        list-style: none;

        svg {
            fill: $main-color;
        }

        li,
        li a {
            font-size: 15px;
            line-height: 36px;
            color: rgba($light-color, 0.6);
        }

        li span {
            margin-left: 14px;
        }

        li:not(:last-child) {
            margin-right: 31px;
        }
    }

    &__secondary-menu-login {
            
        span {
            margin-left: 14px;
        }
    }

    &__secondary-menu-user-info {
        display: none;
    }

    &__secondary-menu-user-info-name {
        margin-left: 14px;
    }

    &__secondary-menu-user-info-logout {
        border: 0;
        padding: 0;
        margin-left: 18px;
        background-color: transparent;
        font-size: 15px;
        color: rgba($dark-color, 0.3);
        cursor: pointer;
    }





    &__middle {
        margin-top: 30px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
    }

    &__address {
        margin-right: 170px;
        font-size: 14px;
        font-style: normal;
        color: $light-color;
        line-height: 30px;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-right: 167px;
        }
    }

    &__main-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        margin-right: 189px;
        padding: 0;
        list-style: none;


        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-right: 186px;
        }
    }

    &__main-menu-item {
        font-family: $headers-font;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 3.6px;

        &:not(:last-child) {
            margin-right: 33px;
        }
    }

    &__phone {
        font-size: 15px;
        color: $light-color;
        line-height: 30px;
    }


    &__bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
    }

    &__line {
        margin-right: 429px;
        width: 80px;
        height: 7px;
        background-color: $main-color;
    }

    &__socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__socials-item {

        &:not(:last-child) {
            margin-right: 23px;
        }

        svg {
            fill: $light-color;
            opacity: 0.3;
            transition: 0.2s;
        }

        &:hover svg {
            opacity: 0.6;
        }

        &:active svg {
            opacity: 0.3;
        }
    }

    &__academy-logo {
        margin-left: auto;

        svg {
            fill: $main-color;
            transition: 0.2s;
        }

        &:hover svg {
            opacity: 0.6;
        }

        &:active svg {
            opacity: 0.3;
        }
    }
}