section.footer-section
    .container
        footer.footer
            .footer__top
                .footer__logo
                    img(src="https://dummyimage.com/163x35?text=Logo" alt="Логотип" width="163" height="35")
                ul.footer-secondary-menu
                    li.footer-secondary-menu__user.footer-user
                        button.footer-user__login-btn(type="button")
                            | Войти
                        .footer-user__name Валентин Петухов
                        button.footer-user__logout-btn(type="button")
                            | Выйти

                    li.footer-secondary-menu__compare
                        a(href="#") Сравнить

                    li.footer-secondary-menu__cart
                        a(href="#") Корзина

            .footer__middle
                p.footer__address г. Москва, ул. Строителей, 15
                ul.footer-main-menu
                    li.footer-main-menu__item
                    a(href="#") Доставка
                    
                    li.footer-main-menu__item
                        a(href="#") Гарантия

                    li.footer-main-menu__item
                        a(href="#") Контакты
            .footer__bottom
                .footer__line
                .footer__socials.socials
                    .socials__item
                        a(href="#" target="_blank")
                            img(src="https://dummyimage.com/32" alt="Facebook" width="32" height="32")
                    .socials__item
                        a(href="#" target="_blank")
                            img(src="https://dummyimage.com/32" alt="Instagram" width="32" height="32")
                    .socials__item
                        a(href="#" target="_blank")
                            img(src="https://dummyimage.com/32" alt="Twitter" width="32" height="32")

                .footer__academy-logo
                    a(href="#" target="_blank")
                            img(src="https://dummyimage.com/27x35" alt="Логотип HTML Academy" width="27" height="35")