section
        // Тут будет класс .container
        footer
            
            //- Тут будет класс .footer-top
            section
                div
                    // Заголовок будет скрыт
                    h1 Device
                    img(src="https://dummyimage.com/163x35" alt="Device Logo" width="163" height="35")

                ul
                    li
                        button(type="button") Войти
                        div Валентин Петухов
                        button(type="button") Выйти

                    li
                        a(href="#") Сравнить

                    li
                        a(href="#") Корзина

            //- Тут будет класс .footer-middle
            section
                p г. Москва, ул. Строителей, 15
                ul
                    li
                        a(href="#") Доставка
                    
                    li
                        a(href="#") Гарантия

                    li
                        a(href="#") Контакты

                p Тел.: +7 (495) 495-95-95
            
            //- Тут будет класс .footer__bottom         
            section
                // div ниже для желтой линии
                div
                ul
                    li
                        a(href="#" target="_blank")
                            img(src="https://dummyimage.com/32" alt="Facebook" width="32" height="32")
                    li
                        a(href="#" target="_blank")
                            img(src="https://dummyimage.com/32" alt="Instagram" width="32" height="32")
                    li
                        a(href="#" target="_blank")
                            img(src="https://dummyimage.com/32" alt="Twitter" width="32" height="32")
                
                // div ниже для лого Академии
                div
                    a(href="#" target="_blank")
                            img(src="https://dummyimage.com/27x35" alt="Логотип HTML Academy" width="27" height="35")