html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-size: $base-font-size;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        overflow-x: hidden;
    }
}

img {
    max-width: 100%;
    height: auto;
}

// img {
//     width: 100%;
//     height: auto;
// }

main {

    @media screen and (max-width: 1200px) {
        width: 1200px;
    }
}

.container {
    // @include container();
    // @include sm(max-width, rem(510));
    // @include md(max-width, rem(690));
    // @include lg(max-width, rem(930));
    // @include xl(max-width, rem(1110));
    width: $basic-width;
    // min-width: $basic-width;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    white-space: nowrap; /* added line */
}

.hidden {
    display: none;
}

.device-btn {
    position: relative;
    z-index: 1;
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    color: $dark-color;
    border: 0;
    font-family: $headers-font;
    font-size: 18px;
    letter-spacing: 3.6px;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: -1;
        background-color: $main-color;
        height: 8px;
        transform: translateY(-50%);
        transition: height 0.2s;
        will-change: height;
    }

    &:hover::after {
        height: 100%;
    }

    &:active {
        color: rgba($dark-color, 0.3);
    }
}