html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-size: $base-font-size;
}

.container {
    // @include container();
    // @include sm(max-width, rem(510));
    // @include md(max-width, rem(690));
    // @include lg(max-width, rem(930));
    // @include xl(max-width, rem(1110));
    width: 1160px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    white-space: nowrap; /* added line */
}